[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
        <h4>Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>News Categories</h4>
        
				<div class="row">
            <div class="col-lg-12">
                
                {% set categories = blogCategories.categories %}
                {% set currentCategorySlug = blogCategories.currentCategorySlug %}
                
                <ul class="list-unstyled">
                    {% for category in categories %}
                        {% set postCount = category.post_count %}
                        <li {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
                            
                            {% if postCount %}
                                <span class="badge">{{ postCount }}</span>
                            {% endif %}
                            
                            <a href="{{ category.url }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well
    <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
		-->
</div>