        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Welcome to Newlife Training Center! We offer a one-year and two-year Bible training program.</p>
                    <p>We are so glad that you have made this quality decision to enroll at Newlife Training Center. Our online procedure will help facilitate and guide you through the application process quickly and easily.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="application">Apply Now</a>
                </div>
            </div>
        </div>