==
<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy 2015. New Life Training Center. All rights reserved.</p>
            </div>
        </div>
    </footer>	

    </div>
    <!-- /.container -->
 {% scripts %}

</body>

</html>