    <!-- Page Content -->
    <div class="container">

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <a href="home"><img src="{{ 'assets/images/NTC-Web-Banner.png'|theme }}" width="800" height="231" class="img-responsive"></a> 
            </div>
        </div>
        
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
        		<div class="col-lg-3">
            </div>
            
            <div class="col-lg-9">
                <h3 class="page-header">{{ this.page.title }}</h3>
                <!--<ol class="breadcrumb">
                    <li><a href="home">Home</a>
                    </li>
                    <li class="active">{{ this.page.title }}</li>
                </ol> -->
            </div>
        </div>
        <!-- /.row -->