<div class="list-group">
    <a href="/" class="list-group-item">Home</a>
    <a href="welcome-message" class="list-group-item">Welcome Message</a>
    <a href="about-us" class="list-group-item">About Us</a>
    <a href="lifeatntc" class="list-group-item">Life @ NTC</a>
    <a href="programs" class="list-group-item">Programs</a>
    <a href="trainingcalendar" class="list-group-item">Training Calendar</a>
    <a href="admissions" class="list-group-item">Admissions</a>
    <a href="application" class="list-group-item">Apply Now</a>
    <a href="downloadables" class="list-group-item">Downloadables</a>
    <a href="contact" class="list-group-item">Contact Us</a>
</div>
