
    <!-- jQuery -->
    <script src="{{ ['assets/javascript/jquery.js']|theme }}"></script>
    
    
		{% framework %}

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ ['assets/javascript/bootstrap.min.js']|theme }}"></script>
    
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ ['assets/bower_components/metisMenu/dist/metisMenu.min.js']|theme }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ ['assets/javascript/sb-admin-2.js']|theme }}"></script>
    
    <!-- DataTables JavaScript -->
    <script src="{{ ['assets/bower_components/datatables/media/js/jquery.dataTables.min.js']|theme }}"></script>
    <script src="{{ ['assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js']|theme }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#tbl-studEnrolledSubjects').DataTable({
                responsive: true
        });
				
        $('#tbl-studDownloadables').DataTable({
                responsive: true
        });
    });
    </script>
    
</body>

</html>
