<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="New Life Training Center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ 'assets/images/ntc-logo.jpg'|theme }}" />
    
    {% styles %}

    
    <!-- Bootstrap Core CSS -->
    <link href="{{ ['assets/css/bootstrap.min.css']|theme }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ ['assets/bower_components/metisMenu/dist/metisMenu.min.css']|theme }}" rel="stylesheet">
    
    <!-- DataTables CSS -->
    <link href="{{ ['assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css']|theme }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ ['assets/bower_components/datatables-responsive/css/responsive.dataTables.scss']|theme }}" rel="stylesheet">
    
    <!-- Admin Menu CSS -->
    <link href="{{ ['assets/css/sb-admin-2.css']|theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ ['assets/font-awesome/css/font-awesome.min.css']|theme }}" rel="stylesheet" type="text/css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    

    <title>{{ this.page.title }}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

 {% scripts %}

</head>

<body>
