<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-download fa-fw"></i> Downloadables
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body"><a id="downloadables"></a>
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="tbl-studDownloadables">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Uploaded By</th>
                                <th>Date Uploaded</th>
                                <th>File</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Faith Notes</td>
                                <td>NTC Staff</td>
                                <td>12-22-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-excel-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="even gradeC">
                                <td>Year book</td>
                                <td>Jowee</td>
                                <td>12-22-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-excel-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>Application Record</td>
                                <td>Ptr.Milet Tugano</td>
                                <td>12-22-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-word-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="even gradeA">
                                <td>Notes</td>
                                <td>Ptr.Milet Tugano</td>
                                <td>09-22-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-word-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="odd gradeA">
                                <td>Evaluation</td>
                                <td>NTC Staff</td>
                                <td>08-12-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-word-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="even gradeA">
                                <td>Year book</td>
                                <td>Ptr.Milet Tugano</td>
                                <td>03-03-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-excel-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="gradeA">
                                <td>Year book</td>
                                <td>Ptr.Paul Chase</td>
                                <td>11-05-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-word-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="gradeA">
                                <td>Year book</td>
                                <td>NTC Staff</td>
                                <td>09-01-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-pdf-o fa-fw"></i></a></td>
                            </tr>
                            <tr class="gradeA">
                                <td>Year book</td>
                                <td>Dra.Eileen Ebuna</td>
                                <td>12-22-2015</td>
                                <td class="center"><a href="#"><i class="fa fa-file-pdf-o fa-fw"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->