==
<head>
		<title>Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ [ 'assets/js/ie/html5shiv.js' ]|theme }}"></script><![endif]-->
		<link href="{{ [ 'assets/css/main.css' ]|theme }}" rel="stylesheet">
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ [ 'assets/css/ie9.css' ]|theme }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ [ 'assets/css/ie8.css' ]|theme }}" /><![endif]-->
	</head>