title = "About Us"
url = "/about-us"
layout = "full-width"
is_hidden = 0
show_menu = 0
==
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Discover His Ways</h3>
  </div>
  
  <div class="panel-body">
 
    <div class="row">
      <div class="col-md-6">
        <p align="justify">NewL ife Training Center (NLTC), formerly known as New Life School of Ministry (NLSM), was established in August 2002 by the Founders and Senior Pastors of New Life Christian Center Alabang, Paul and Shoddy Chase.</p>
        <p align="justify">New Life Training Center is a place to learn and discover the Word of God; a place to have an encounter with Christ, while growing in the grace and the knowledge of the Lord.</p>
        <p align="justify">It has a mandate to build and develop believers into passionate servants who know and personify the Word as they go out to the world.</p>
      </div>
      
      <div class="col-md-6">
        <center>
        <h3 style="color:#F90"><i>The Heart of NLTC Experience is… </i></h3>
        <h4 style="color:#063"><i>Impartation… <br />
        Saturation… <br />
        Contemplation… <br />
        Application… <br />
        NOT just Information… 
        </i></h4>
        </center>
      </div>
    </div>
    
  </div><!--.panel-body-->
</div><!--.panel-default-->