title = "Admissions"
url = "/admissions"
layout = "full-width"
is_hidden = 0
==
<div class="panel panel-default">

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
  
        <h4>Admission to NLTC is open to:</h4>
        
        <ul>
          <li>Members of New Life Christian Center Alabang</li>
          <li>New Life satellite churches and affiliates,</li>
          <li>Born-again Christian believers from other churches, both national and international.</li>
        </ul>
        
				<hr />
  
        <h4>Admission Requirements:</h4>
      
        <h5>Day School (Full-time and Pastoral Track)</h5>
        <ul>
          <li>Online application form</li>
          <li>Scanned Pastoral Recommendation</li>
          <li>Scanned Commitment to Honor Form</li>
          <li>Scanned NBI Clearance (issued within 3 months prior to enrollment)</li>
          <li>Scanned Medical clearance (issued within 3 months prior to enrollment)</li>
          <li>Interview</li>
          <li>Training Fee: Php 2,000.00 monthly</li>
        </ul>
        
				<hr />
        
        <h5>International Students</h5>
        <ul>
          <li>Would be required to show proof of legal permission to reside and/or study in the Philippines</li>
          <li>Online application form</li>
          <li>Scanned Pastoral Recommendation</li>
          <li>Scanned Commitment to Honor Form</li>
          <li>Scanned NBI Clearance (issued within 3 months prior to enrollment)</li>
          <li>Scanned Medical clearance (issued within 3 months prior to enrollment)</li>
          <li>Interview</li>
          <li>Training Fee: Php 2,000.00 monthly</li>
        </ul>
        
        <span class="label label-warning">Note</span> 
        All international students bear the sole responsibility for compliance to Philippine immigration requirements. NLTC is not responsible for monthly expenses, including food and lodging.
        
				<hr />
        
        <h5>Blockweek Nights @ NLTC</h5>
        <ul>
          <li>Training Fee: PHP 200.00 per subject</li>
        </ul>
        
        <span class="label label-warning">Note</span>
        For New Life Alabang staff: NBI and Medical clearances are not required. 
        NLTC and its programs are not recognized by any Philippine educational regulatory body.
        
        
      </div>
    </div><!--/.row-->

	</div>
</div>