title = "Application"
url = "/application"
layout = "application-form"
is_hidden = 0

[applicationform]
==
<div class="panel panel-default">
  
  <div class="panel-body">

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
          <p>Welcome to New Life Training Center! We offer a one-year and two-year Bible training program.</p>
          <p>We are so glad that you have made this quality decision to enroll at New Life Training Center. Our online procedure will help facilitate and guide you through the application process quickly and easily.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            
        To apply, fill up the application form below: <br /><br />
        
        </div>
    </div>
    
  <div>
</div>

{% component 'applicationform' %}