title = "Downloadables"
url = "/downloadables"
layout = "full-width"
is_hidden = 0
show_menu = 0
==
<div class="panel panel-default">
  
  <div class="panel-body">
    <table class="table table-hover">
    	<tr>
      	<th>Title</th>
      	<th>File</th>
      </tr>
    	<tr>
      	<td>DAY SCHOOL : First and Second year levels Training Calendar SY2015-2016</td>
      	<td><a href="http://newlifetrainingcenter.ph/wp-content/uploads/gravity_forms/23-1cf772488b9f802b48ae78a7123a74ab/2015/11/SY2015-2016-Training-Calendar_Day_School_11.11.15.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    	<tr>
      	<td>DAY SCHOOL : Pastoral Track Training Calendar SY2015-2016</td>
      	<td><a href="http://newlifetrainingcenter.ph/wp-content/uploads/gravity_forms/23-1cf772488b9f802b48ae78a7123a74ab/2015/11/SY2015-2016-PASTORAL-TRACK_11.11.15.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    	<tr>
      	<td>BLOCKWEEK NIGHTS: Training Calendar SY2015-2016</td>
      	<td><a href="http://newlifetrainingcenter.ph/wp-content/uploads/gravity_forms/23-1cf772488b9f802b48ae78a7123a74ab/2015/09/SY2015-2016-Training-Calendar_BlockWeek_Nights_@_NTC_9.16.15.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    	<tr>
      	<td>NTC School Policies and Requisites</td>
      	<td><a href="http://newlifetrainingcenter.ph/wp-content/uploads/gravity_forms/23-1cf772488b9f802b48ae78a7123a74ab/2015/06/NTC-School-Policies-and-Requisites-SY2015-2016.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    	<tr>
      	<td>Commitment to Honor Form</td>
      	<td><a href="http://newlifetrainingcenter.ph/wp-content/uploads/gravity_forms/23-1cf772488b9f802b48ae78a7123a74ab/2015/05/E-Ref.-AP-2014-01-CTHF-Commitment-to-Honor-Form.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    	<tr>
      	<td>Pastoral Recommendation</td>
      	<td><a href="http://newlifetrainingcenter.ph/wp-content/uploads/gravity_forms/23-1cf772488b9f802b48ae78a7123a74ab/2015/05/E-Ref.-AP-2014-01-PRF-Pastoral-Recommendation.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    	<tr>
      	<td>NLSM Reflections SY2013-2014</td>
      	<td><a href="http://mediacenter.newlifetrainingcenter.ph/Documents/NLSM%20-%20Yearbook%202014_FA.pdf" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      </tr>
    </table>
  </div>
</div>