title = "Life @ NTC"
url = "/lifeatntc"
layout = "full-width"
is_hidden = 0
==
<!-- Content Row -->
<div class="row">  

    <!-- Video Column -->
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" width="600" height="400" src="http://www.youtube.com/embed/nCzmEbki9g4?autohide=1&autoplay=0&controls=2&fs=1&loop=0&modestbranding=0&playlist=F_OIscN3eN8%2CDdel2ht4LE0%2CurrolSLzRSU%2CasUvqqpCPb8%2C+ge4NPf7W_J0&rel=0&showinfo=1&theme=light&wmode=opaque" frameborder="0" allowfullscreen="true"></iframe>
        </div>
      </div>  
    </div>
 
</div>

<div class="row"> 
   
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
  
        <div class="row">




        </div>
  
        </div>
      </div>
    </div>

</div>

<!-- /.row -->