title = "News Post"
url = "/post/:slug"
layout = "blog-home-1"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "category"
==
<?php
function onEnd()
{
    // Optional - set the page title to the post title
    if (isset($this->post))
        $this->page->title = $this->post->title;
}
?>
==
<div class="panel panel-default">
  <div class="panel-body">
      
  
    {% if post %}
    
    
        {% if post.featured_images.count %}
            <div class="featured-images text-center">
                {% for image in post.featured_images %}
                    <p>
                        <img
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            alt="{{ image.description }}"
                            style="max-width: 100%" />
                    </p>
                    
                    <hr />
                {% endfor %}
            </div>
        {% endif %}
        

        <h2>{{ post.title }}</h2>
    
        {% set post = blogPost.post %}

<div class="content">{{ post.content_html|raw }}</div>

<p class="info">
    Posted
    {% if post.categories.count %} in
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    on {{ post.published_at|date('M d, Y') }}
</p>

        
    {% else %}
    
        <h2>Post not found</h2>
    
    {% endif %}
    
  </div><!--/.panel-body-->
</div>