title = "Study Programs"
url = "/programs"
layout = "full-width"
is_hidden = 0
==
<div class="panel panel-default">
  
  <div class="panel-body">
    <p align="justify">The annual school year, for both day school and blockweek nights, runs from August through May, divided into a semestral system.<br /><br /></p>
    <p>
    
    <h4><span class="glyphicon glyphicon-education"></span> Day School</h4>
    Full time study <br />
    The training period is a 10-month commitment <br />
    Tuesdays to Fridays, 8:30 am – 12:30 pm <br />
    Open to both New Life and non-New Life members <br /><br />
    </p>
    
    <p>
    <h4><span class="glyphicon glyphicon-calendar"></span> Pastoral Track</h4>
    A study program for Lead Pastors of New Life satellite churches. <br /><br />
    </p>
    
    <p>
    <h4><span class="glyphicon glyphicon-blackboard"></span> BlockWeek Nights @ NLTC</h4>
    Open to both New Life and non-New Life members <br />
    Scheduled during one pre-selected week in a month <br />
    Tuesday to Friday evenings, 7:00 pm – 9:00 pm <br /><br />
    </p>
  </div>
  
</div>