title = "Training Calendar"
url = "/trainingcalendar"
layout = "full-width"
is_hidden = 0
show_menu = 0
==
<div class="panel panel-default">
  <div class="panel-body">
  
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            First Year
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            1st year subjects
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Second Year
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            2nd year contents
          </div>
        </div>
      </div>
    </div>
  
  	<hr />
    
    <span class="label label-warning">NTC reserves the right to revise the training calendar, courses offered and/or faculty assignments, with or without prior notice.</span>

  </div><!--/.panel-body-->
</div>