title = "Welcome Message"
url = "/welcome-message"
layout = "full-width"
is_hidden = 0
show_menu = 0
==
<script>
jQuery(function () {
    jQuery('#myTab a:last').tab('show')
})
</script>


<div class="panel panel-default">

<div class="panel-body">
  <ul class="nav nav-tabs responsive" id="myTab">
    <li class="active"><a data-target="#spm" data-toggle="tab">Senior Pastor's Message</a></li>
    <li><a data-target="#dm" data-toggle="tab">Director's Message</a></li>
  </ul>

  <div class="tab-content responsive">
    <div class="tab-pane active" id="spm">
    <img src="storage/app/media/senior-pastors.jpg" width="300" align="right" class="img-responsive" id="padded-align-left"/>
    <h3>Welcome to the New Life Training Center (NLTC) website!</h3>
    
    <p align="justify">Knowing that you have a desire to know more about God’s will, ways and His Word, we have launched this website to make it easier for you to explore and to know more about NTC, and if it is the right place for you.</p>
    <p>As NTC embarks on its 14th school year in June 2015, it has been consistently birthing a new breed of believers who are:
      <ul>
        <li>Growing in faith, love, abiding in grace, and understanding His glory.</li>
        <li>Seeking, loving and serving Christ.</li>
        <li>Humbled by His presence, yet bold and confident concerning their identity in Christ.</li>
        <li>Sensitive to the leading of the Holy Ghost.</li>
        <li>Unceasingly passionate about Christ, and prayerfully hungry for more of God, and,</li>
        <li>Compassionate to share the gospel story.</li>
      </ul>
    </p>
    <p align="justify">If you desire to deepen your walk and intimacy with Christ, and learn of the many blessings, promises, and provisions written in the Word of God, we invite you to come in, take that first step, and apply as a student at NTC.</p>
    <p align="justify">Hope to see you in our classes very soon.</p><br />
    
    Shalom! <br /><br />
    
    Pastors Paul and Shoddy Chase <br />
    Senior Pastors and Founders <br />
    Alabang Newlife Christian Center
  
    </div>
    
    <div class="tab-pane" id="dm">
    <img src="storage/app/media/milet-tugano.jpg" width="300" align="right" class="img-responsive" id="padded-align-left"/>
    <h3>It is with great pleasure that I welcome you to the New Life Training Center (NLTC) website.</h3>
    
    <p align="justify">I believe it is not by chance or pure coincidence that you found yourself at our website. If you have a yearning to know more of God’s Word, NTC may be the right place for you. Whether you are a student, working professional, stay-at-home parent or grandparent, or at the crossroads of life, NTC is a place to help you unlock the perfect plans God has prepared specifically for you.</p>
    <p align="justify">NLTC is also a place to grow in the knowledge of God and the workings of the Holy Spirit. It is a place where your faith in God and His Word will be tested, continually refined, and dramatically expanded.</p>
    <p align="justify">I invite you to explore what we have in store for you at NLTC. Come on in and “Discover His Ways.”</p><br />
    
    In Christ, <br /><br />
    
    Ptr. Milet P. Tugano <br />
    Director <br />
    Newlife Training Center
    </div>
  
  </div>
	</div>
</div>

<script type="text/javascript">
  (function($) {
      fakewaffle.responsiveTabs(['xs', 'sm']);
  })(jQuery);
</script>