<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('heidimarasigan/nltc/enrollments/preview') ?>">Enrollments</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <form class="form-elements" role="form">
                <?php
                    $subjects = $this->getSubjects();
                ?>
                <input type="hidden" name="student_id" value="<?= $this->getStudentID() ?>">
                <input type="hidden" name="type" value="regular">
                <div class="form-group span-full">
                    <div class="control-list list-unresponsive">
                        <table class="table data">
                            <thead>
                                <tr>
                                <th class="sort-desc"><a href="/">#</a></th>
                                    <th class="sort-desc"><a href="/">Title</a></th>
                                    <th class="active sort-asc"><a href="/">Description</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach( $subjects as $key => $subject ){ ?>
                                    
                                                <tr>
                                                    <td><?= $key ?></td>
                                                    <td><?= $subject->title ?></td>
                                                    <td><?= $subject->description ?></td>
                                                </tr>
                                
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <?php if(!$this->getEnrollmentStatus()) { ?>
            <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating Enrollment..."
                    class="btn btn-primary">
                    Create
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('heidimarasigan/nltc/enrollments/preview') ?>">Cancel</a>
                </span>
            </div>
            <?php } ?>
        </div>
            
        </div>

        

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('heidimarasigan/nltc/enrollments') ?>" class="btn btn-default">Return to enrollments list</a></p>

<?php endif ?>