<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('heidimarasigan/nltc/enrollments') ?>">Enrollments</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>


    <div class="form-preview">
        <?php
            $subjects = $this->getEnrolledSubjects();
        ?>
        <div class="form-group span-full">
            <div class="control-list list-unresponsive">
                <table class="table data">
                    <thead>
                        <tr>
	                        <th class="sort-desc"><a href="#">#</a></th>
                            <th class="sort-desc"><a href="#">Title</a></th>
                            <th class="active sort-asc"><a href="#">Description</a></th>
                            <th class="active sort-asc"><a href="#">Semester</a></th>
                            <th class="active sort-asc"><a href="#">Date</a></th>
                            <th class="active sort-asc"><a href="#">Grade</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach( $subjects as $key => $subject ) { ?>
            				<tr>
            					<td><?= $key; ?></td>
            					<td><?= $subject->title; ?></td>
            					<td><?= $subject->description; ?></td>
            					<td><?= $subject->semester; ?></td>
            					<td><?= $subject->date; ?></td>
            					<td><?= $subject->grade; ?></td>
            				</tr>
					    <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
