subject = "Sample"
==
{{ date }}

Dear {{ first_name }} {{ last_name }},

CONGRATULATIONS!
You have successfully completed the NLTC admissions interview process.  You may now proceed to the enrolment procedure.

Step 1: Click the following link to enrol in the subject offerings for this school year.
http://v2.newlifetrainingcenter.ph/account-creation/{{code}}
	
Step 2: Submit the following requirements in order to process your application.
1.	Pastoral Recommendation Letter
-	Download this form at the NLTC website
-	Fill-out the form
-	Submit to your pastor or ministry head for them to fill-out
-	Submit to NLTC office in a sealed envelope

2.	Commitment-to-Honor Form
-	Download from the NLTC website, print, and fill-out
-	Scanned and submit to NLTC through our website

3.	NBI Clearance
-	Should be issued within 3 months prior to enrolment 
-	Scanned and submit to NLTC through our website

4.	Medical Certificate
-	Should be issued within 3 months prior to enrolment
-	Scanned and submit to NLTC through our website

5.	Proof of legal permission to reside and/or study in the Philippines (for international students)
-	Scanned and submit to NLTC through our website
Step 3:  Training Fee Payment
- Full-time: Php 2,000.00 per month

You will be considered as a formally enrolled student for NLTC, school year 2016-2017, once all of the above requirements have been successfully completed.  
Should you have any queries regarding submission of the application requirements, do not hesitate to contact us.

New Life Training Center
2 Don Manolo Boulevard, Alabang,
Muntinlupa City, 1780 Philippines

Tel Numbers: 809-1542/43/33 loc. 301,302,303;
Fax No. 809.71.25
Mobile Numbers:0928.559.5476/0998.975.2453
Email Address:nltc@newlife.ph
Website: www.newlife.ph
Facebook: www.facebook.com/nltrainingcenter



Respectfully Yours,
NLTC
==
<p><strong>{{ date }}</strong></p>
<p></p>
<p><strong>Dear {{ first_name }} {{ last_name }},</strong></p>
<p></p>
<p><strong>CONGRATULATIONS!</strong></p>
<p>You have successfully completed the NLTC admissions interview process.  You may now proceed to the enrolment procedure.</p>
<p></p>
<p><strong>Step 1:</strong> Click the following link to enrol in the subject offerings for this school year.
	</p>
	<p><a href="http://v2.newlifetrainingcenter.ph/account-creation/{{code}}">http://newlifetrainingcenter.ph/account-creation/{{code}}</a></p>
	<p></p>
<p><strong>Step 2:</strong> Submit the following requirements in order to process your application.</p>
<p><strong>1.	Pastoral Recommendation Letter</strong>
-	Download this form at the NLTC website
-	Fill-out the form
-	Submit to your pastor or ministry head for them to fill-out
-	Submit to NLTC office in a sealed envelope</p>

<p><strong>2.	Commitment-to-Honor Form</strong>
-	Download from the NLTC website, print, and fill-out
-	Scanned and submit to NLTC through our website</p>

<p><strong>3.	NBI Clearance</strong>
-	Should be issued within 3 months prior to enrolment 
-	Scanned and submit to NLTC through our website</p>

<p><strong>4.	Medical Certificate</strong>
-	Should be issued within 3 months prior to enrolment
-	Scanned and submit to NLTC through our website</p>

<p><strong>5.	Proof of legal permission to reside and/or study in the Philippines (for international students)</strong>
-	Scanned and submit to NLTC through our website</p>
<p><strong>Step 3:  Training Fee Payment</strong>
- Full-time: Php 2,000.00 per month</p>

<p>You will be considered as a formally enrolled student for NLTC, school year 2016-2017, once all of the above requirements have been successfully completed.</p>  
<p>Should you have any queries regarding submission of the application requirements, do not hesitate to contact us.</p>

<center><p><strong>New Life Training Center</strong>
2 Don Manolo Boulevard, Alabang,
Muntinlupa City, 1780 Philippines</p>

<p>Tel Numbers: 809-1542/43/33 loc. 301,302,303;&nbsp;<br>
</p><p>Fax No. 809.71.25&nbsp;<br>
</p><p>Mobile Numbers:&nbsp;<a href="tel:0928.559.5476" value="+639285595476" target="_blank">0928.559.5476</a>&nbsp;/&nbsp;<a href="tel:0998.975.2453" value="+639989752453" title="tel:0998.975.2453
Ctrl+Click or tap to follow the link" target="_blank">0998.<wbr>975.2453</a>&nbsp;<br>
</p><p>Email Address:&nbsp;<a href="mailto:ntc@newlife.ph" target="_blank"><span data-redactor-class="il" class="il" data-verified="redactor">nltc</span>@newlife.ph</a>&nbsp;</p><p>Website :&nbsp;<a href="http://www.newlife.ph/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.newlife.ph/&amp;source=gmail&amp;ust=1463548201661000&amp;usg=AFQjCNG5vj0v-hdWPRsmK99mEc0jPlUrlA">www.newlife.ph</a>&nbsp;</p><p>Facebook&nbsp;: <a href="http://www.facebook.com/nltrainingcenter" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.facebook.com/nltrainingcenter&amp;source=gmail&amp;ust=1463548201661000&amp;usg=AFQjCNHpuyHpwmztRGsCGtf5NNBUPDuE1g">
www.facebook.com/<wbr>nltrainingcenter</a></p><p><br></p><p><br></p></center>



<p>Respectfully Yours,</p>
<p>NLTC</p>
