<div class="panel panel-default">
	<div class="wrapper panel-body">
		<form data-request="onCreate" data-request-redirect="http://v2.newlifetrainingcenter.ph/dashboard">
		 	<div class="row">
		 		<div class="col-md-6 col-md-offset-3">
		 			<label class="control-label col-md-3" for="user_email">
					<h5>Email: </h5>
					</label>
					<div class="col-md-9">
						<input type="text" name="user_email" class="form-control" value="{{ email }}">
					</div>					
				</div>
				<div class="col-md-6 col-md-offset-3">
		 			<label class="control-label col-md-3" for="user_email">
					<h5>Login: </h5>
					</label>
					<div class="col-md-9">
						<input type="text" name="student_code" class="form-control" value="{{ student_code }}">
					</div>					
				</div>
				<div class="col-md-6 col-md-offset-3">
		 			<label class="control-label col-md-3" for="user_password">
					<h5>Password: </h5>
					</label>
					<div class="col-md-9">
						<input type="password" name="user_password" class="form-control">
					</div>
				</div>
				<div class="col-md-6 col-md-offset-3">					
		 			<label class="control-label col-md-3" for="user_retype_password">
					<h5>Re-type Password: </h5>
					</label>
					<div class="col-md-9">
						<input type="password" name="user_retype_password" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-3 pull-right">
				<div class="btn-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>		
		</form>
	</div>
</div>