							<div class="col-md-1"><h5>No.</h5></div>
							<div class="col-md-5">
								<h5 class="text-center">Child's Name</h5>
					 		</div>
				 			<div class="col-md-2">
				 				<h5 class="text-center">Child's Age</h5>
				 			</div>
				 			<div class="col-md-3">
				 				<h5 class="text-center">Child's Gender</h5>
					 		</div>
					 		<div class="col-md-1">
					 			<h5 class="text-center">Remove</h5>
					 		</div>
						{% for child in children %}
						<div class="row">
							<div class="col-md-1 text-center" style="padding-top: 8px;">{{ loop.index }}. </div>
							<div class="col-md-5">
					 			<div class="form-group">
					 				<input type="text" class="form-control" name="child_name[]" value="{{ child.child_name }}" >
					 			</div>
					 		</div>
				 			<div class="col-md-2">
					 			<div class="form-group">
					 				<input type="text" class="form-control" name="child_age[]" value="{{ child.child_age }}">
					 			</div>
				 			</div>
				 			<div class="col-md-3">
					 			<div class="form-group">
					 				<div class="radio col-md-6">
						 				<label>

						 					<input type="radio"
						 					name="child_gender[{{ loop.index0 }}]"
						 					value="male" {% if child.child_gender == 'male' %} checked="checked" {% endif %} >Male
						 				</label>
						 			</div>
						 			<div class="radio col-md-6" style="margin-top: 10px;">
						 				<label>
						 					<input type="radio"
						 					name="child_gender[{{ loop.index0 }}]"
						 					value="female" {% if child.child_gender == 'female' %} checked="checked" {% endif %} >Female
						 				</label>
						 			</div>		 			
					 			</div>
							</div>
							<div class="col-md-1">
								{% if loop.index0 > 0 %}
									<a href="#"
									data-request-data="data_id : {{ loop.index0 }}"
									data-request="{{ __SELF__ }}::onDeleteChild"
									data-request-update="'{{ __SELF__ }}::child_item':'#children_wrapper'"
									data-request-confirm="Are you sure you want to delete this item?"
									style="font-size: 20px;padding-top: 8px;display: block;"><i class="glyphicon glyphicon-minus-sign"></i></a>
								{% endif %}
							</div>
						</div>
						{% endfor %}