<div class="panel panel-default">
	<div class="wrapper panel-body">
		<h3>Christian Life</h3>
		<form>
		 	<div class="form-group row">
		 		<div class="col-md-12">		 			
	 				<h5>When did you receive Jesus as personal Lord and Savior?</h5>
		 			<input type="text" name="christian_when_saved" class="form-control" value="{{ christian_life_values.christian_when_saved }}">	 		
		 		</div>
		 	</div>
			<div class="form-group row">
				<div class="col-md-12">
	 				<h5>Have you been baptized in the Holy Spirit with the evidence of speaking with other tongues?</h5>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_baptized" value='yes' onclick="$('#christian_baptized_yes').show();" 
		 					{% if christian_life_values.christian_baptized == "yes" %}
			    			checked="checked"
			    			{% endif %}>Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_baptized" value='no' onclick="$('#christian_baptized_yes').hide();"
		 					{% if christian_life_values.christian_baptized == "no" %}
			    			checked="checked"
			    			{% endif %}>No
		 				</label>
		 			</div>
		 		</div>
			</div>									
			<div class="form-group row" id="christian_baptized_yes"
				{% if christian_life_values.christian_baptized  != "yes" %}
				style="display:none;"
				{% endif %}	>
				<div class="col-md-6">
					<h5>Date</h5>		 					 				       
	 				<div class='input-group date'>
	                    <input type='text' name="christian_baptized_date" placeholder="mm/dd/yyyy" class="form-control" data-control="custom_picker" value="{{ christian_life_values.christian_baptized_date }}">
	                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-calendar"></span>
                		</span>		                    	
        			</div>
	        	</div>
	        	<div class="col-md-6">
	 				<h5>Place</h5>
		 			<input type="text" name="christian_baptized_place" class="form-control" value="{{ christian_life_values.christian_baptized_place }}">
		 		</div>
		 	</div>
		 	<div class="form-group row">
		 		<div class="col-md-6">
	 				<h5>Church Affiliation</h5>
	 				<div class="dropdown-toggle" data-toggle="dropdown">	
	 					<select id="church" name="christian_church" class="form-control">
	 						<option> --Select item from list--</option>
	 						<option value="new_life"
	 						{% if christian_life_values.christian_church == "new_life" %}
			    			selected="selected"
			    			{% endif %}
	 						>New Life</option>
					        <option value="non_new_life"
					        {% if christian_life_values.christian_church == "non_new_life" %}
			    			selected="selected"
			    			{% endif %}
					        >Non-New Life</option>						        
	 					</select>
	 				</div>
		 		</div>	
		 		<div class="col-md-6 col-md-offset-6" id="church_hide">
		 			
		 		</div>		 		
    			<div class="col-md-6" id="NewLifeChurches"
    			{% if christian_life_values.christian_church  != "new_life" %}
    			style="display:none;"
    			{% endif %}
    			>		 			
	 				<h5>Church Name</h5>
	 				<div class="dropdown">
	 					<select name="christian_church_name" class="form-control">
		                    {% for church in __SELF__.getChurchList() %}
		                    	<option value="{{ church }}"
		                    	{% if christian_life_values.christian_church_name == church %}
		                    		selected="selected" 
		                    	{% endif %}
		                    	>
		                    	{{ church }}
		                    	</option>
		                    {% endfor %}
           				</select>
	 				</div>
		 		</div>	
     			<div class="col-md-6" id="NonNewLifeChurches" style="display:none;">           	
	               <h5>Name of Church (Non-New Life)</h5>
	               <input type="text" name="christian_nonnewlife" id="non_new_life" class="form-control" placeholder="Name of Church" value="{{ christian_life_values.christian_nonnewlife }}">
     			</div>	     		
     			<div class="col-md-6">
	 				<h5>Indicate if you are a</h5>
	 				<div class="dropdown">	
	 					<select name="christian_position" class="form-control">
	 						<option value="Senior Pastor" 
	 						{% if christian_life_values.christian_position == "Senior Pastor" %}
		 					selected="selected"
			    			{% endif %}
			    			>Senior Pastor</option>
					        <option value="Lead Pastor"
					        {% if christian_life_values.christian_position == "Lead Pastor" %}
		 					selected="selected"
			    			{% endif %}
			    			>Lead Pastor</option>
					        <option value="Ministry Head"
					        {% if christian_life_values.christian_position == "Ministry Head" %}
		 					selected="selected"
			    			{% endif %}
			    			>Ministry Head</option>
					        <option value="Pastoral Staff" 
					        {% if christian_life_values.christian_position == "Pastoral Staff" %}
		 					selected="selected"
			    			{% endif %}
			    			>Pastoral Staff</option>
					        <option value="Staff / Church Worker" 
					        {% if christian_life_values.christian_position == "Staff / Church Worker" %}
		 					selected="selected"
			    			{% endif %}
			    			>Staff / Church Worker</option>
					        <option value="Member" 
					        {% if christian_life_values.christian_position == "Member" %}
		 					selected="selected"
			    			{% endif %}
			    			>Member</option>		
	 					</select>
	 				</div>
		 		</div>
		 	</div>
		 	<div class="form-group row">
		 		<div class="col-md-6">
	 				<h5>What is the name of your senior pastor or lead pastor?</h5>
		 			<input type="text" name="christian_senior_pastor" class="form-control" value="{{ christian_life_values.christian_senior_pastor }}">
		 		</div>	
		 		<div class="col-md-6">
	 				<h5>How long have you been faithfully attending the said church?</h5>
		 			<input type="text" name="christian_length_attend" class="form-control" value="{{ christian_life_values.christian_length_attend }}">
		 		</div>	
	        </div>

<!-- Ministry Involvement -->
		<h3>Ministry Involvement</h3>
			<div class="form-group row">
				<div class="col-md-6">
	 				<h5>Name of Ministry</h5>
	 				<input type="text" name="christian_ministry_name" class="form-control" 
	 				value="{{ christian_life_values.christian_ministry_name }}">	 		
		 		</div>		 	
	 			<div class="col-md-6">
		 				<h5>Ministry Head</h5>
		 				<input type="text" name="christian_ministry_head" class="form-control" 
		 				value="{{ christian_life_values.christian_ministry_head }}">
	 			</div>
 			</div>
 			<div class="form-group row">
	 			<div class="col-md-6">
		 				<h5>Years of Stay</h5>
		 				<input type="text" name="christian_years_of_stay" class="form-control" 
		 				value="{{ christian_life_values.christian_years_of_stay }}">
	 			</div>	 		
	 			<div class="col-md-6">
	 				<h5>Responsibilities</h5>
	 				<textarea name="christian_ministry_responsibilities" class="form-control" rows="5" cols="10">{{ christian_life_values.christian_ministry_responsibilities }}</textarea>
	 			</div>
 			</div>
 			<div class="form-group row">
 				<div class="col-md-12">
	 				<h5>Why do you want to attend NLTC?</h5>
	 				<textarea name="christian_whyattend" placeholder="Limit your answer to 2-3 sentences or 100 characters." class="form-control" rows="5" cols="10">{{ christian_life_values.christian_whyattend }}</textarea>	 				
	 			</div>
 			</div>
 			<div class="form-group row"> 		
 				<div class="col-md-6" id="life_group"> 				
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" id="lg_leader" name="christian_lifegroup_lead" 
		 					value="1" 
		 					{% if christian_life_values.christian_lifegroup_lead == 1 %}
		 						checked="checked"
		 					{% endif %}
		 					>I am a leader of a Life Group
		 				</label>
		 			</div>	
		    	</div>	
			    <div class="col-md-6" id="life_group"> 				
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" id="lg_member" name="christian_lifegroup_member" value="1"
		 					{% if christian_life_values.christian_lifegroup_member == 1 %}
		 						checked="checked"
		 					{% endif %}
		 					>I am a member of a Life Group
		 				</label>
		 			</div>		
		    	</div>
		    </div>
		    <div class="form-group row"> 	 
			    <div class="col-md-6" id="date_leader" 
			    {% if christian_life_values.christian_lifegroup_lead != "leader" %}
					style="display:none;"
				{% endif %}
			    >
	 				<h5>Date Started (Life Group Leader)</h5>
	 				<div class='input-group date'>
		 				<input type='text'
		 				value="{{ christian_life_values.christian_lifegroup_lead_started }}"
		 				 name="christian_lifegroup_lead_started" placeholder="mm/dd/yyyy" class="form-control"  data-control="custom_picker">
	                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-calendar"></span>
	            		</span>	
	            	</div>
	 			</div>	 		
	 			<div class="col-md-6 pull-right" id="date_member" 
	 			{% if christian_life_values.christian_lifegroup_member != "member" %}
					style="display:none;"
				{% endif %}
	 			>
	 				<h5>Date Started (Life Group Member)</h5>
	 				<div class='input-group date'>
		 				<input type='text'
		 				value="{{ christian_life_values.christian_lifegroup_member_started }}"
		 				name="christian_lifegroup_member_started" placeholder="mm/dd/yyyy" class="form-control" data-control="custom_picker">
	                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-calendar"></span>
	            		</span>	
	            	</div>
	 			</div>
	 		</div>
	 		<div class="form-group row"> 
		 		<div class="col-md-12">
	 				<h5>Do you believe God is calling you to serve full time in any ministry?</h5>
	 				<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_fulltime" value="yes"
		 					{% if christian_life_values.christian_fulltime == "yes" %}
		 						checked="checked"
		 					{% endif %}
		 					>Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_fulltime" value="no"
		 					{% if christian_life_values.christian_fulltime == "no" %}
		 						checked="checked"
		 					{% endif %}
		 					>No
		 				</label>
		 			</div>			 			
	 			</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
	 				<h5>Are you a consistent tither?</h5>
	 				<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_tither"
		 					{% if christian_life_values.christian_tither == "yes" %}
		 						checked="checked"
		 					{% endif %}
		 					value="yes">Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_tither"
		 					{% if christian_life_values.christian_tither == "no" %}
		 						checked="checked"
		 					{% endif %}
		 					value="no">No
		 				</label>
		 			</div>			 			
	 			</div>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
	 				<h5>What other ministry trainings have you attended prior to application at NLTC?</h5>
		 				<a class="btn" href="#" name="christian_trainings" data-request="{{ __SELF__ }}::onAddTraining"
		 				data-request-update="'{{ __SELF__ }}::training_attended':'#training_wrapper'">
	  						<i class="glyphicon glyphicon-plus-sign"></i> Add </a>	  				
	  			</div>				
			</div>
			<div class="form-group row">
				<!-- wrapper of all training attended -->
				<div id="training_wrapper">
					{% partial __SELF__~'::training_attended' %}
				</div>
				<!-- end of wrapper of all training attended -->
			</div>
			<div class="form-group row">
	 			<div class="col-md-6">
	 				<h5>Do you have any desire to volunteer in NLTC?</h5>
	 				<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_ntc_volunteer" value="yes"
		 					{% if christian_life_values.christian_ntc_volunteer == "yes" %}
		 						checked="checked"
		 					{% endif %}>Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_ntc_volunteer" value="no"
		 					{% if christian_life_values.christian_ntc_volunteer == "no" %}
		 						checked="checked"
		 					{% endif %}>No
		 				</label>
		 			</div>			 			
	 			</div>					
	 			<div class="col-md-6">				
		 			<div class="checkbox custom-checkbox">
		 				<h5>If yes, please check the following areas that you see yourself serving?</h5>
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[0]" value="Teachers Assistant"
		 					{% if christian_life_values.christian_ntc_volunteer_area[0] == "Teachers Assistant" %}
		 						checked="checked"
		 					{% endif %}>Teachers Assistant
		 				</label>
		 			</div>
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[1]" value="Sound System"
		 					{% if christian_life_values.christian_ntc_volunteer_area[1] == "Sound System" %}
		 						checked="checked"
		 					{% endif %}>Sound System
		 				</label>
		 			</div>	
		 			<div class="checkbox custom-checkbox">		 			
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[2]" value="Praise and Worship"
		 					{% if christian_life_values.christian_ntc_volunteer_area[2] == "Praise and Worship" %}
		 						checked="checked"
		 					{% endif %}>Praise and Worship
		 				</label>
		 			</div>
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[3]" value="Ushers or Usherettes"
		 					{% if christian_life_values.christian_ntc_volunteer_area[3] == "Ushers or Usherettes" %}
		 						checked="checked"
		 					{% endif %}>Ushers or Usherettes
		 				</label>		
		 			</div>			
		    	</div>
		    </div>	
		    <div class="form-group row">
		    	<div class="col-md-12">
	 				<h5>How do you plan to settle training fees on time?</h5>
	 				<textarea name="training_fee" class="form-control" rows="5" cols="10">{{ christian_life_values.training_fee }}</textarea>	 				
	 			</div>
 			</div> 	        
	        <div class="form-group row">
			    <div class="col-md-6">
		      		<div class="pull-left">
						<div class="btn-group" role="group" aria-label="align-right">
							<button type="button" class="btn btn-primary"
								data-request="{{ __SELF__ }}::onRedirect" data-request-data="page: 5" data-request-update="'{{ __SELF__ }}::educationalbackground':'#form_wrapper'"
								>Back : Educational Background</button>
						</div>
					</div>
				</div>
				<div class="col-md-6">
		      		<div class="pull-right">
						<div class="btn-group" role="group" aria-label="align-right">
								<button type="button" class="btn btn-primary"
								data-request-data="page: 5"
								data-request="{{ __SELF__ }}::onSave"
								data-request-update="'{{ __SELF__ }}::physicalhealthcondition':'#form_wrapper'">Next : Physical and Health Condition</button>
						</div>
					</div>
				</div>
        	</div> 
        </form>
    </div>
</div>

	
