<div class="panel panel-default">
	<div class="wrapper panel-body">
		<h3>Interview Details</h3>
		<form id="superform">
			<div class="row">
		 	 	<div class="col-md-6">
		 			<div class="form-group">
		 				<h5>Interview Date</h5>			 				       
		 				<div class='input-group date' id='scheduled_date'>
		                    <input type='text' class="form-control datepicker" name="interview_date" value="{{ interview_details_values.interview_date }}" data-request="{{ __SELF__ }}::onLoadTime">
		                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-calendar"></span>
                			</span>
            			</div>
        			</div>
        			<p class="help-block">Available Dates:  June 1-2, 8-9, 15-16, 22-23, 29-30 /  July 6-7, 13-14, 20-21, 27-28 [Days: every Wednesdays and Thursdays only]</p>
	            </div>			 							
	            <div class="col-md-6" id="interview_time_wrapper">
	            	{% partial __SELF__~'::interview_time' %}
        		</div>        
            </div>
	        <div class="form-group row">
		        <div class="col-md-12" id="id_acknowledge">	 								
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" id="id_confirm" name="acknowledgement" style="margin-top:9px;" value="1"
		 					{% if interview_details_values.acknowledgement == "1" %}
		 						checked="checked"
		 					{% endif %}
		 					>
		 					<p class="help-block">I hereby state that the information provided in this online application is true and correct to the best of my knowledge. I acknowledge that if NLTC is notified that any information given in this registration is false, it will be grounds for either denial of admission or immediate dismissal from NLTC. I affirm my commitment and willingness to abide to all the policies and procedures of NLTC.</p>	
		 				</label>
		 			</div>
			    </div>
			</div>
			<div class="form-group row">
				<div class="col-md-6">
		      		<div class="pull-left">
						<div class="btn-group" role="group" aria-label="align-right">
							<button type="button" class="btn btn-primary"
								data-request="{{ __SELF__ }}::onRedirect"
								data-request-data="page: 8"
								data-request-update="'{{ __SELF__ }}::personalreferences':'#form_wrapper'"
								>Back : Personal References</button>
						</div>
					</div>
				</div>
			    <div class="col-md-6" id="btn_apply" 
			    {% if interview_details_values.acknowledgement != "1" %}
					style="display:none;"
				{% endif %}
			    >
		 			
	 				<div class="pull-right">
						<div class="btn-group" role="group" aria-label="align-right" >
								<button type="button" class="btn btn-primary"
								data-request-redirect="thank-you"
								data-request-confirm="Are you sure that you have filled the necessary fields?"
								data-request-data="page: 8, setinterview: true"	
								data-request="{{ __SELF__ }}::onSave">Confirm</button> 
						</div>
					</div>		 					 		
		 		</div>	        	
	        </div>	       	
		</form>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var object = $(this);
		$('#scheduled_date input').change(function(){
			$('#superform').request('onLoadTime', {
			    update: {'@interview_time': '#interview_time_wrapper'}
			});
		});
	});
</script>
