<div class="panel panel-default">
	<div class="wrapper panel-body">
		<h3>Ministry Involvement</h3>
		<form>		
			<div class="col-md-6">
	 			<div class="form-group">
	 				<h5>Name of Ministry</h5>
	 				<input type="text" name="christian_ministry_name" class="form-control" 
	 				value="{{ ministry_involvement_values.christian_ministry_name }}">
	 			</div>
	 		</div>
 			<div class="col-md-6">
	 			<div class="form-group">
	 				<h5>Ministry Head</h5>
	 				<input type="text" name="christian_ministry_head" class="form-control" 
	 				value="{{ ministry_involvement_values.christian_ministry_head }}">
	 			</div>
 			</div>
 			<div class="col-md-6">
	 			<div class="form-group">
	 				<h5>Years of Stay</h5>
	 				<input type="text" name="christian_years_of_stay" class="form-control" 
	 				value="{{ ministry_involvement_values.christian_years_of_stay }}">
	 			</div>
	 		</div>
 			<div class="col-md-6">
	 			<div class="form-group">
	 				<h5>Responsibilities</h5>
	 				<textarea name="christian_ministry_responsibilities" class="form-control" rows="5" cols="10">{{ ministry_involvement_values.christian_ministry_responsibilities }}</textarea>	 				
	 			</div>
 			</div>
 			<div class="col-md-12">
	 			<div class="form-group" >
	 				<h5>Why do you want to attend NLTC?</h5>
	 				<textarea name="christian_whyattend" placeholder="Limit your answer to 2-3 sentences or 100 characters." class="form-control" rows="5" cols="10">{{ ministry_involvement_values.christian_whyattend }}</textarea>	 				
	 			</div>
 			</div> 		
 			<div class="col-md-6" id="life_group">
 				<div class="form-group" > 				
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" id="lg_leader" name="christian_lifegroup_lead" value="leader"
		 					{% if ministry_involvement_values.christian_lifegroup_lead == "leader" %}
		 						checked="checked"
		 					{% endif %}
		 					>I am a leader of a Life Group
		 				</label>
		 			</div>	
		    	</div>
		    </div>	
		    <div class="col-md-6" id="life_group">
 				<div class="form-group" > 				
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" id="lg_member" name="christian_lifegroup_member" value="member"
		 					{% if ministry_involvement_values.christian_lifegroup_member == "member" %}
		 						checked="checked"
		 					{% endif %}
		 					>I am a member of a Life Group
		 				</label>
		 			</div>		
		    	</div>
		    </div>	 
		    <div class="col-md-6" id="date_leader" 
		    {% if ministry_involvement_values.christian_lifegroup_lead != "leader" %}
				style="display:none;"
			{% endif %}
		    >
	 			<div class="form-group">
	 				<h5>Date Started (Life Group Leader)</h5>
	 				<div class='input-group date'>
		 				<input type='text'
		 				value="{{ ministry_involvement_values.christian_lifegroup_lead_started }}"
		 				 name="christian_lifegroup_lead_started" placeholder="mm/dd/yyyy" class="form-control"  data-control="custom_picker">
	                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-calendar"></span>
	            		</span>	
	            	</div>
	 			</div>
	 		</div>	 		
 			<div class="col-md-6 pull-right" id="date_member" 
 			{% if ministry_involvement_values.christian_lifegroup_member != "member" %}
				style="display:none;"
			{% endif %}
 			>
	 			<div class="form-group">
	 				<h5>Date Started (Life Group Member)</h5>
	 				<div class='input-group date'>
		 				<input type='text'
		 				value="{{ ministry_involvement_values.christian_lifegroup_member_started }}"
		 				name="christian_lifegroup_member_started" placeholder="mm/dd/yyyy" class="form-control" data-control="custom_picker">
	                    <span class="input-group-addon">
		                    	<span class="glyphicon glyphicon-calendar"></span>
	            		</span>	
	            	</div>
	 			</div>
	 		</div>
	 		
	 		<div class="col-md-12">
	 			<div class="form-group">
	 				<h5>Do you believe God is calling you to serve full time in any ministry?</h5>
	 				<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_fulltime" value="yes"
		 					{% if ministry_involvement_values.christian_fulltime == "yes" %}
		 						checked="checked"
		 					{% endif %}
		 					>Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_fulltime" value="no"
		 					{% if ministry_involvement_values.christian_fulltime == "no" %}
		 						checked="checked"
		 					{% endif %}
		 					>No
		 				</label>
		 			</div>			 			
	 			</div>
			</div>
			<div class="col-md-12">
	 			<div class="form-group">
	 				<h5>Are you a consistent tither?</h5>
	 				<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_tither"
		 					{% if ministry_involvement_values.christian_tither == "yes" %}
		 						checked="checked"
		 					{% endif %}
		 					value="yes">Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_tither"
		 					{% if ministry_involvement_values.christian_tither == "no" %}
		 						checked="checked"
		 					{% endif %}
		 					value="no">No
		 				</label>
		 			</div>			 			
	 			</div>
			</div>
			<div class="col-md-12">
	 			<div class="form-group">
	 				<h5>What other ministry trainings have you attended prior to application at NLTC?</h5>
		 				<a class="btn" href="#" name="christian_trainings" data-request="{{ __SELF__ }}::onAddTraining"
		 				data-request-update="'{{ __SELF__ }}::training_attended':'#training_wrapper'">
	  						<i class="glyphicon glyphicon-plus-sign"></i> Add </a>	  				
	  			</div>				
			</div>

			<!-- wrapper of all training attended -->
			<div id="training_wrapper">
				{% partial __SELF__~'::training_attended' %}
			</div>
			<!-- end of wrapper of all training attended -->

	 		<div class="col-md-6">
	 			<div class="form-group">
	 				<h5>Do you have any desire to volunteer in NLTC?</h5>
	 				<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_ntc_volunteer" value="yes"
		 					{% if ministry_involvement_values.christian_ntc_volunteer == "yes" %}
		 						checked="checked"
		 					{% endif %}>Yes
		 				</label>
		 			</div>
		 			<div class="radio">
		 				<label>
		 					<input type="radio" name="christian_ntc_volunteer" value="no"
		 					{% if ministry_involvement_values.christian_ntc_volunteer == "no" %}
		 						checked="checked"
		 					{% endif %}>No
		 				</label>
		 			</div>			 			
	 			</div>
			</div>		
	 		<div class="col-md-6">
 				<div class="form-group" > 				
		 			<div class="checkbox custom-checkbox">
		 				<h5>If yes, please check the following areas that you see yourself serving?</h5>
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[0]" value="Teachers Assistant"
		 					{% if ministry_involvement_values.christian_ntc_volunteer_area[0] == "Teachers Assistant" %}
		 						checked="checked"
		 					{% endif %}>Teachers Assistant
		 				</label>
		 			</div>
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[1]" value="Sound System"
		 					{% if ministry_involvement_values.christian_ntc_volunteer_area[1] == "Sound System" %}
		 						checked="checked"
		 					{% endif %}>Sound System
		 				</label>
		 			</div>	
		 			<div class="checkbox custom-checkbox">		 			
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[2]" value="Praise and Worship"
		 					{% if ministry_involvement_values.christian_ntc_volunteer_area[2] == "Praise and Worship" %}
		 						checked="checked"
		 					{% endif %}>Praise and Worship
		 				</label>
		 			</div>
		 			<div class="checkbox custom-checkbox">
		 				<label>
		 					<input type="checkbox" name="christian_ntc_volunteer_area[3]" value="Ushers or Usherettes"
		 					{% if ministry_involvement_values.christian_ntc_volunteer_area[3] == "Ushers or Usherettes" %}
		 						checked="checked"
		 					{% endif %}>Ushers or Usherettes
		 				</label>		
		 			</div>			
		    	</div>
		    </div>	
		    <div class="col-md-12">
	 			<div class="form-group" >
	 				<h5>How do you plan to settle training fees on time?</h5>
	 				<textarea name="training_fee" class="form-control" rows="5" cols="10">{{ ministry_involvement_values.training_fee }}</textarea>	 				
	 			</div>
 			</div> 
 			<div class="col-md-6">
	      		<div class="pull-left">
					<div class="btn-group" role="group" aria-label="align-right">
						<button type="button" class="btn btn-primary"
							data-request="{{ __SELF__ }}::onRedirect" data-request-data="page: 6" data-request-update="'{{ __SELF__ }}::christianlife':'#form_wrapper'"
							>Back : Christian Life</button>
					</div>
				</div>
			</div>
			
 		</form>
 	</div>
 </div>