<div class="panel panel-default">
	<div class="wrapper panel-body">
		<h3>Study Program</h3>
		<form>
		 	<div class="row">
		 		<div class="col-md-12">
		 			<div class="form-group">
		 				<h5>Application Type</h5>
		 				<div class="radio">
			 				<label>
			 					{% if study_program_values.application_type == "Regular" %}
			 					{% set app_regular_default_value = 'checked="checked"' %}
			 					{% endif %}
			 					<input type="radio" name="application_type" value="Regular" {{ app_regular_default_value }} >Regular
			 				</label>
			 			</div>
			 			<div class="radio">
			 				<label>
			 					
			 					{% if study_program_values.application_type == "Irregular" %}
			 					{% set app_irregular_default_value = 'checked="checked"' %}
			 					{% endif %}
			 					<input type="radio" name="application_type" value="Irregular" {{ app_irregular_default_value }} >Irregular (Students with incomplete subjects in their year level)
			 				</label>
			 			</div>			 			
		 			</div>
				</div>
			</div>
			<div class="row">
		 		<div class="col-md-6">
		 			<div class="form-group">
		 				<h5>School Year</h5>
		 				<div class="dropdown">	
		 				
            				<select name="school_year"  class="form-control">

            				{% for start_year in 2016..2029 %}
							    <option value="{{ start_year }}-{{ start_year + 1 }}"
							    {% if study_program_values.school_year == (start_year ~ "-" ~ (start_year + 1) ) %}
			 					selected="selected"
			 					{% endif %}
							     >
							    {{ start_year }}-{{ start_year + 1 }}
							    </option>
							{% endfor %}       
        					</select>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="col-md-6">
		 			<div class="form-group">
		 				<h5>Level</h5>
		 				<div class="dropdown">	
		 					<select name="level" class="form-control">
		 						<option
		 						{% if study_program_values.level == "First Year" %}
			 					selected="selected"
			 					{% endif %}
		 						>First Year</option>
						        <option
						        {% if study_program_values.level == "Second Year" %}
			 					selected="selected"
			 					{% endif %}
						        >Second Year</option>
						        <option
						        {% if study_program_values.level == "Pastoral Track" %}
			 					selected="selected"
			 					{% endif %}
						        >Pastoral Track</option>
		 					</select>
		 				</div>
		 			</div>
		 		</div>		 	
			</div>
			<div class="col-md-12">
	      		<div class="pull-right">
					<div class="btn-group" role="group" aria-label="align-right">
						<!-- <button type="button" class="btn btn-default"><a href="#">Back</a></button> -->
						<button type="submit" class="btn btn-primary" form="form1" value="Submit"
						data-request-data="page: 1"
						data-request="{{ __SELF__ }}::onSave"						
						data-request-update="'{{ __SELF__ }}::personalinformation':'#form_wrapper'">Next : Personal Information</button>
					</div>
				</div>
			</div>			
		</form>
	</div>
</div>