<div class="form_wrapper">
  <h3 class="gf_progressbar_title">Thank You</h3>

  <div style="width:100%;border-bottom: 1px dashed black;padding:10px 0px;"></div>
  <br/>

   <div class="form-group row">
        <div class="col-md-12 pull-left">
             <p>Your application to NLTC has been submitted!</p>
             
        </div>
   </div>

</div>