<div class="form-group  dropdown-field span-right" data-field-name="travelling_frequency" data-trigger="[name="application_travelling"]" data-trigger-action="show" data-trigger-condition="value[yes]" data-trigger-closest-parent="form" id="Form-field-Applications-travelling_frequency-group">
					<h5>How often (Please specify)?</h5>
               <!-- Dropdown -->
    				<select id="Form-field-Applications-travelling_frequency" name="Applications[travelling_frequency]" class="form-control custom-select select2-hidden-accessible" data-disposable="data-disposable" tabindex="-1" aria-hidden="true">
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Annually">Annually</option>
            		</select>
            		
            		</div>
