/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
   height: 100%;

/*background: url(../images/NTC-Background-map.jpg) no-repeat center center fixed;*/
	background: url(../images/NTC-Background-map.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

.carousel {
    height: 50%;
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
    height: 100%;
}

.carousel .item img {
		width: 100%;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
		background: no-repeat;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
		color:#e5e5e5;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/******* My Custom CSS ******/
/*navbar*/
.navbar {
	background: #1b1b3a;
	font-family: "Montserrat", sans-serif;
	font-size:13px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
	color: #f90;
}

/*for images*/
#padded-align-left {
	margin:10px 0 10px 20px;
}
#padded-align-right {
	margin:10px 20px 10px 0;
}

/*panel*/
h4,h5,h6 {
	font-family: "Montserrat", sans-serif;
	color: #666666;
}
h1,h2,h3,
h1.panel-title, h2.panel-title, h3.panel-title, h4.panel-title, h5.panel-title, h6.panel-title,
h1.p-title, h2.p-title, h3.p-title, h4.p-title, h5.p-title, h6.p-title {
	font-family: "Montserrat", sans-serif;
	color: #dd8502;
}
h1.page-header, h2.page-header, h3.page-header, h4.page-header, h5.page-header, h6.page-header {
	font-family: "Montserrat", sans-serif;
	color: #dd8502;
	border-bottom: 1px dotted #dd8502;
}
a.panel-title {
    color: #dd8502;
}
a.panel-title:hover {
    color: #6b4d1c;
    text-decoration: none;
}
.modal {
	overflow: auto;
	color: #333;
}

/*accordion*/
.bs-example{
	margin: 20px;
}

/*form*/
.form-group {
	margin-bottom: 8px;
}
#feedbackForm {
	font-size: 12px;
}

/*tabs*/
.deco-none {
	text-decoration: none !important;
}

.btn {
	/*border:	1px solid #F90;*/
	font-family: "Montserrat", sans-serif;
}
