<?php if ($this->previewMode): ?>
    <div class="form-control"><?= $value ?></div>
<?php else: ?>
        <div
            id="<?= $this->getId() ?>"
            class="field-customdatepicker"
            data-control="customdatepicker"
            data-min-date="<?= $minDate ?>"
            data-max-date="<?= $maxDate ?>">
            <div class="input-with-icon right-align">
                <i class="icon icon-calendar-o"></i>
                <input
                    type="text"
                    id="<?= $this->getId('input') ?>"
                    name="<?= $name ?>"
                    value="<?= $value ?>"
                    class="form-control align-right"
                    autocomplete="off"
                    <?= $field->getAttributes() ?> />
            </div>
        </div>

<?php endif ?>