description = "Student Dashboard Layout"
==
{% partial "admin/admin-header" %}

<div id="wrapper">

	{% partial "admin/admin-navigation" %}
  
  <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">{{ this.page.title }}</h1>
          </div>
          <!-- /.col-lg-12 -->
      </div>

			{% partial 'admin/admin-widgets' %}

			{% page %}
					
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
    
    
{% partial "admin/admin-footer" %}