description = "About Layout"
==
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="New Life Training Center">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{{ 'assets/images/ntc-logo.jpg'|theme }}" />
    
    {% styles %}

    
    <!-- Bootstrap Core CSS -->
    <link href="{{ ['assets/css/bootstrap.min.css']|theme }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ ['assets/css/modern-business.css']|theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ ['assets/font-awesome/css/font-awesome.min.css']|theme }}" rel="stylesheet" type="text/css">
    
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    

    <title>{{ this.page.title }}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% framework %}

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">NTC</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="welcome-message">Welcome Message</a>
                    </li>
                    <li>
                        <a href="about-us">About Us</a>
                    </li>
                    <li>
                        <a href="lifeatntc">Life @ NTC</a>
                    </li>
                    <li>
                        <a href="programs">Programs</a>
                    </li>
                    <li>
                        <a href="trainingcalendar">Training Calendar</a>
                    </li>
                    <li>
                        <a href="admissions">Admissions</a>
                    </li>
                    <li>
                        <a href="application">Apply Now</a>
                    </li>
                    <li>
                        <a href="downloadables">Downloadables</a>
                    </li>
                    <li>
                        <a href="contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <img src="{{ 'assets/images/NTC-Web-Banner.png'|theme }}" width="800" height="231" class="img-responsive"> 
            </div>
        </div>


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ this.page.title }}
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="home">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
			 				{% page %}
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy 2015; New Life Training Center. All rights reserved.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ ['assets/javascript/jquery.js']|theme }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ ['assets/javascript/bootstrap.min.js']|theme }}"></script>

</body>

</html>
