description = "Application Form Layout"
==
{% partial "header" %}

		{% partial "navigation-top" %}
    
    		{% partial "heading-breadcrumbs-fullwidth" %}
    

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
			 				{% page %}
            </div>
        </div>


{% partial "footer" %}

