description = "Blog 2 Layout"
==
{% partial "header" %}

		{% partial "navigation-top" %}

    <!-- Page Content -->
    <div class="container">

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <a href="home"><img src="{{ 'assets/images/NTC-Web-Banner.png'|theme }}" width="800" height="231" class="img-responsive"></a> 
            </div>
        </div>

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ this.page.title }}
                    <!--<small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">{{ this.page.title }}e</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

  						{% page %}

            </div>
            
        </div>
        <!-- /.row -->

        <hr>

{% partial "footer" %}