description = "Contact Layout"
==
{% partial "header" %}
    
		{% partial "navigation" %}
    
    		{% partial "heading-breadcrumbs" %}
        
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
			 				{% page %}
            </div>
        </div>

{% partial "footer" %}